#banner
{
     height: 100vh;
}
#registration-form
{
    background-color: white;
    height:100vh;    

}
.gradient-button
{
   background: #aa076b; /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #aa076b, #61045f); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #aa076b, #61045f);

}


